<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Textview</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
  <script src="jquery.js"></script> 
  <link rel="stylesheet" href="css/bootstrap.css"/>
    <style type="text/css">

        h1.page-header {
    margin-top: -5px;
}
div {
font-size: 20px
}

.sidebar {
    padding-left: 0;
}

.main-container { 
    background: #FFF;
    padding-top: 15px;
    margin-top: -20px;
}

.footer {
    width: 100%;
}  
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container-fluid main-container">
	<div th:utext="${author.login}">	
	</div>
	<div th:utext="${post.getDataHTML()}">some text</div>
</div>

</body>
</html>
