<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
 <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <link rel="stylesheet" href="css/bootstrap.css"/>
   <link rel="stylesheet" href="vika/css/main.css"/>
   <link href="vika/css/stylish-portfolio.css" rel="stylesheet"/>
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
  <script src="js/jquery.js"></script> 
</head>
<body>
<div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
        <A href="/" >ЗАНОТУТКА</A>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title" th:text="${user.fullName}"></h3>
            </div>
            <div class="panel-body">
              <div class="row">   
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" th:src="${user.getProfileImagePath()}" class="img-circle img-responsive"/> </div>
                
                <form class=" col-md-9 col-lg-9" action="/storeuserinfo" method="post"> 
                  <table class="table table-user-information">
                    <tbody>
                     
                   
                         <tr>
                             <tr>  
                        <td>Gender</td>
                        <td>
                        <select th:if="${user.id==current_user_id}" name="gender" class="span1" th:field="${user.gender}">
                        <option value="MALE">Супермен</option>
                        <option value="FEMALE">Супервумен</option>
                        <option value="UNDEFINED">Хтознащо</option>
                        </select>
                        <p th:unless="${user.id==current_user_id}" th:text="${user.gender}"></p>
                        </td>
                      </tr>
                        <tr>
                        <td>Home Address</td>
                        <td> <input th:if="${user.id==current_user_id}" type="text" th:field="${user.address}"> </input>
                        <p th:unless="${user.id==current_user_id}" th:text="${user.address}"></p>
                        </td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a th:text="${user.login}" th:href="'mailto:'+${user.login}">Це поле береться з моделі !!!</a></td>
                      </tr>
                        <td>Phone Number</td>
                        <td><input th:if="${user.id==current_user_id}" th:field="${user.phone}"></input>
                        <p th:unless="${user.id==current_user_id}" th:text="${user.phone}"></p>
                        </td>
                           
                      </tr>
                      </tr>
                        <td>Full name</td>
                        <td ><input th:if="${user.id==current_user_id}" type="text" th:field="${user.fullName}"></input>
                        <p th:unless="${user.id==current_user_id}" th:text="${user.fullName}"></p>
                        </td>
                           
                      </tr>
                     
                    </tbody>
                  </table>
                  
                  <button th:if="${user.id==current_user_id}" type="submit" href="#" class="btn btn-primary">Зберегти персональні данні</button>
                </form>
              </div>
            </div>
                 <div class="panel-footer">
                        <a th:href="'mailto:'+${user.login}" data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                       
                    </div>
            
          </div>
        </div>
      </div>
    </div>
</body>
</html>